nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #444;
    text-align: center;
}
nav li{
    float: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #333;
}
nav a{
    text-decoration: none;
    color: aqua;
    display: block;
    text-transform: uppercase;
    padding: 4px;
    font-weight: bold;
    width: 120px;

}
nav a:hover,nav a:active{
    background-color: #111;
}
img{
    width: 200px;
    height: 200px;
}
section,header,footer{
    margin: 20px;
    width: 100%;
}