body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
button{
    width:100% ;
    height:100% ;
    border: none;
    background-color:wheat;
    color: white;
    font-size: 3rem;
    font-weight:bold ;
    cursor: pointer;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;

}
#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: black;
    color: white;
}
button:hover{
    background-color: brown;
}
button:active{
    background-color: brown;
}
.operator-btn{
    background-color: rgb(184, 134, 11);
}
.operator-btn:hover{
    background-color: rgb(175, 172, 162);
}